
:root{
	--background-color: #fff;
	--background-rgb: 255, 255, 255;
	--text-color:#222;
	--main-color:#5A4FCF;
	--prjBox-hover-color: #eeeeee;
	--small-width: 720px;
	
}
body{
	margin-left: 10px;
	width: calc(100vw - 20px);
	padding: 0;
	background-color: var(--background-color);
	transition: all, .5s;

}
body.dark-mode{
	--background-color: #222;
	--background-rgb: 34, 34, 34;
	--text-color: #fff;
	--prjBox-hover-color: #333;
}
html{
	overflow-x: hidden;
	scroll-behavior: smooth;
	overscroll-behavior-y: none;
	
}
span, a, h1, h2, h3, h4, h5, h6, button,div{
	color: var(--text-color);
}
::-webkit-scrollbar{
	display: none;
}


@media(max-width: 720px){
	body{
		transition: all, 0s;

	}
	::-webkit-scrollbar{
		display: none;
	}
}